[Unit]
Description=MMITSS Priority Request Server
Requisite=siedb.service ieee1609.service mmitssctl.service
After=siedb.service ieee1609.service mmitssctl.service
ConditionPathExists=/run/services/mmitss_prio_req.run
StartLimitInterval=1min
StartLimitBurst=2

[Service]
Type=simple
Slice=system-comm-app.slice
ExecStart=/opt/bin/mmitss_prio_req
WatchdogSec=0
Restart=no
RestartSec=30

[Install]
WantedBy=sie-its-wave.target
